/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore
!/etc/build/.gitkeep

/tests/Application/yarn.lock

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml

!tests/Application/web/app_test.php
tests/Application/web/*
!tests/Application/web/.gitkeep

tests/Application/var/*

tests/Application/node_modules